<div class="container mt-4">
  <h1 class="display-5 fw-bold lh-1 mb-3">Create New Article</h1>

  <hr>
  <%= render 'form' %>
  
  <div class="container">
    <%= link_to 'Back to Articles', articles_path, :class => "btn btn-outline-dark" %>
  </div>
</div>