<div class="container-fluid">
  <div class="px-4 py-5 my-5 text-center">
    <%= image_tag "alpha.png", height: 190, width: 190, :alt => "alpha logo", :class => "d-block mx-auto mb-4" %>
    <h1 class="display-5 fw-bold">The Alpha Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here, 
        we provide valuable insights and resources for developers
        of all levels. Our experienced team shares their knowledge
        on a wide range of topics, from coding languages to 
        software architecture. We strive to create high-quality 
        content that is both informative and engaging.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Join Our Newsletter</button>
        <%= link_to "Read Now", articles_path, :class => "btn btn-outline-secondary btn-lg px-4" %>
      </div>
    </div>
  </div>
</div>
